.excel-table {
  &__controls-wrapper {
    height: $excel-table-controls-wrapper-height;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $excel-table-header-height;
    padding: 9px 20px;
  }

  &__header-title-input {
    @include font($font-family, 1.1rem, 400, #777);

    padding: 2px 7px;
    border: 1px solid transparent;
    border-radius: $border-radius;
    transition: border-color $transition-duration ease;

    &:hover {
      border-color: #e5e5e5;
    }

    &:focus {
      outline: none;
      border: 2px solid $input-focus-border-color;
      padding: 1px 6px;
    }
  }

  &__header-controls {
    display: flex;
    align-items: center;

    .btn + .btn {
      margin-left: 10px;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    height: $excel-table-toolbar-height;
    padding: 9px 20px;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;

    .material-icons {
      font-size: 1.2rem;
    }

    .btn + .btn {
      margin-left: 7px;
    }
  }

  &__formula {
    display: flex;
    align-items: center;
    height: $excel-table-formula-height;
    padding-right: 28px;
    border-bottom: 2px solid $border-color;
  }

  &__formula-label {
    @include font($font-family, 1.2rem, 300, #cfcfd0);

    width: $excel-table-grid-row-label-width - 1px;
    text-align: center;
    font-style: italic;
  }

  &__formula-separator {
    height: 14px;
    margin-right: 5px;
    border-left: 1px solid $border-color;
  }

  &__formula-content {
    @include font($font-family, 0.8rem, 400, $basic-font-color);

    flex-grow: 1;
    padding: 0 7px;
    overflow: hidden;
    white-space: nowrap;

    &:focus {
      outline: none;
    }
  }

  &__grid {
    width: 100vw;
    height: calc(100vh - #{$excel-table-controls-wrapper-height});
    overflow: auto;
  }

  &__grid-header {
    z-index: 3;
    position: sticky;
    top: 0;
    left: 0;
    width: max-content;
  }

  &__grid-row,
  &__grid-row-data {
    display: flex;
  }

  &__grid-row-label,
  &__grid-row-data-cell {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__grid-row-label {
    @include center-content;
    @include font(
      $font-family,
      0.8rem,
      400,
      $excel-table-grid-labels-text-color
    );

    width: $excel-table-grid-row-label-width;
    min-width: $excel-table-grid-row-label-width;
  }

  &__grid-row-data-cell {
    @include font($font-family, 0.8rem, 400, $basic-font-color);

    display: flex;
    align-items: center;
    width: $excel-table-grid-default-column-width;
    padding: 4px;
    outline: none;

    &--selected {
      padding: 2px;
      border: 2px solid $blue;
    }
  }

  &__grid-header {
    .excel-table__grid-row-label {
      position: sticky;
      top: 0;
      left: 0;
      height: $excel-table-grid-header-row-height;
      background-color: #fff;
      border-right: 4px solid $border-color;
      border-bottom: 4px solid $border-color;
    }

    .excel-table__grid-row-data-cell {
      @include center-content;
      @include font(
        $font-family,
        0.8rem,
        400,
        $excel-table-grid-labels-text-color
      );

      height: $excel-table-grid-header-row-height;
      background-color: $excel-table-grid-labels-bg;
    }
  }

  &__grid-body {
    .excel-table__grid-row {
      height: $excel-table-grid-default-row-height;
    }

    .excel-table__grid-row-label {
      z-index: 2;
      position: sticky;
      top: 0;
      left: 0;
      background-color: $excel-table-grid-labels-bg;
    }
  }
}
