.excel-table {
  &__controls-wrapper {
    height: $excel-table-controls-wrapper-height;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $excel-table-header-height;
    padding: 9px 20px;
  }

  &__header-title-input {
    @include font($font-family, 1.1rem, 400, #777);

    padding: 2px 7px;
    border: 1px solid transparent;
    border-radius: $border-radius;
    transition: border-color $transition-duration ease;

    &:hover {
      border-color: #e5e5e5;
    }

    &:focus {
      outline: none;
      border: 2px solid #1a73e8;
      padding: 1px 6px;
    }
  }

  &__header-controls {
    display: flex;
    align-items: center;

    .btn + .btn {
      margin-left: 10px;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    height: $excel-table-toolbar-height;
    padding: 9px 20px;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;

    .material-icons {
      font-size: 1.2rem;
    }

    .btn + .btn {
      margin-left: 7px;
    }
  }

  &__formula {
    display: flex;
    align-items: center;
    height: $excel-table-formula-height;
    padding: 0 28px;
    border-bottom: 2px solid $border-color;
  }

  &__formula-label {
    @include font($font-family, 1.2rem, 300, #cfcfd0);

    font-style: italic;
  }

  &__formula-separator {
    height: 14px;
    margin: 0 5px 0 12px;
    border-left: 1px solid $border-color;
  }

  &__formula-content {
    @include font($font-family, 0.8rem, 400, $basic-font-color);

    flex-grow: 1;
    padding: 0 7px;
    overflow: hidden;
    white-space: nowrap;

    &:focus {
      outline: none;
    }
  }

  &__grid {
  }
}
