$font-family: Roboto, Arial, sans-serif;

$basic-font-color: #202124;
$basic-btn-text-color: #5a5a5a;
$btn-bg-hover-color: #f1f3f3;
$btn-success-bg-focus-color: #e6f4ea;
$btn-danger-bg-focus-color: #f4c2b6;
$border-color: #dadce0;

$border-radius: 4px;
$transition-duration: 0.25s;
$excel-table-header-height: 52px;
